@using session03_MVC_.PL.ViewModels.AuthViewModels
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLAyout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="SendEmail" method="post" asp-controller="Account">
            <br />
            <input asp-for="Email" placeholder="Email" required="">
            <span asp-validation-for="Email"></span>
            <br />
            <input type="submit" value="SIGNUP">
        </form>
       
    </div>
</div>
